<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IndiaCamp!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"> yelpcamp </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li> <a href="/login"> Login </a> </li>
                        <li> <a href="/register"> SignUp </a> </li>
                   <% }else{ %>
                        <li> <a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li> <a href="/logout"> SignOut </a> </li>
                   <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert"> <%=error %></div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success" role="alert"> <%=success %></div>
    <%} %>
    </div>