<% include partials/header %>
 <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Indiacamp! </h1>
                <p>
                    View our handpicked campgrounds from all over India
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="/campgrounds/new">Add new</a>
                </p>
            </div>
        </header>

        <div class="row text-center" style="display:flex; flex-wrap:wrap;">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%= campground.image %>">
                        <div class="caption">
                                <h4><%= campground.name %></h4>
                        </div>
                        <p>
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"> More info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
        
</div>

<% include partials/footer %>
