<% include partials/header %>
<h1>login</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>login</button>
</form>

<% include partials/footer %>