<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead"> IndiaCamp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%=campground.image %>">
                <div class="caption-full">
                    <h4 class="pull-right"> $<%=campground.price %>/night</h4>
                    <h4><a><%= campground.name %></a></h4>
                    <p> <%= campground.description %> </p>
                    <p> 
                        <em>Submitted by <%= campground.author.username %></em> 
                    </p>
                    <% if(currentUser && String(campground.author.id)==(currentUser._id)) { %>
                        <a class="btn btn-warning" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                        <form id="delete-form" action= "/campgrounds/<%= campground._id %>?_method=Delete" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>

            <div class="well">
                <div class="text-right">
                    <a class="btn btn-md btn-primary" href="/campgrounds/<%=campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comments){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comments.author.username %></strong> 
                            <span class="pull-right"> 10 days ago </span> 
                            <p>
                                <%=comments.text%>
                            </p>
                            <!-- <a class="btn btn-xs btn-warning" 
                            href="/campgrounds/<%=campground._id%>/comments/<%=comments._id%>/edit">
                                Edit
                            </a> -->
                        </div>
                    </div>
                <%  }); %>
            </div>

        </div>
    </div>
        
</div>


<% include partials/footer %>