
.thumbnail img{
    width: 100%;
}
.thumbnail {
    padding: 0px;
}
.thumbnail .caption-full {
    padding: 9px;
}
#delete-form {
    display: inline;
}
/* Older browser support - .no-cssanimations class added by modernizr */
.no-cssanimations .slideshow li {
	opacity: 1;
}